* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Lato', sans-serif;
}

a {
    text-decoration: none;
    color: currentColor;
}

ul,
ol,
menu {
    list-style: none;
}

img {
    display: block;
    height: 100%;
}

.blue-btn {
    color: white;
    font-size: 14px;
    background-color: #0061FF;
    line-height: 40px;
}

/* container */
.container-large {
    width: 100vw;
}

/* header */
nav.container-large {
    height: 80px;
    /* padding: 20px; */
    background-color: white;
    display: flex;
    justify-content: space-between;
}

.main-header__menu {
    display: flex;
    align-items: center;
    /* gap: 40px; */
}

.main-header__menu > li {
    padding: 10px 20px;
    font-size: 14px;
}

.main-header__menu .blue-btn {
    line-height: normal;
}

/* DEBUG */
/* *{
    border-style: solid;
} */