* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Lato', sans-serif;
}

a {
    text-decoration: none;
    color: currentColor;
}

ul,
ol,
menu {
    list-style: none;
}

img {
    display: block;
    max-width: 100%;
}

figure > img {
    display: block;
    width: 100%;
}

.blue-btn {
    color: white;
    font-size: 14px;
    background-color: #0061FF;
    line-height: 40px;
    text-align: center;
    white-space: nowrap;
}

.white-btn {
    font-size: 14px;
    background-color: white;
    border: solid 0.5px black;
    line-height: 40px;
    text-align: center;
    white-space: nowrap;
    padding: 0 25px;
    /* display: inline-block; */
}

.line-s {
    width: 50px;
    border: black solid 0.4px;
}

.line {
    width: 100px;
    border: black solid 0.4px;
}

/* text styles */
.headline-xl {
    font-size: 78px;
    font-weight: 900;
    line-height: 1.5em;
}

.headline-l {
    font-size: 38px;
    font-weight: 700;
    line-height: 1.5em;
    margin-bottom: 52px;
    margin-left: 26px;
}

.headline-m {
    font-size: 24px;
    font-weight: 700;
}

.bodyText-m {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5em;
}

.bodyText-s {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5em;
}

.bodyText-sBold {
    font-size: 14px;
    font-weight: 900;
    line-height: 1.5em;
}

/* layout */
.container-l {
    width: 100vw;
}

.container-m {
    max-width: 1200px;
    margin: 0 auto;
}

.container-s {
    max-width: 1000px;
    margin: 0 auto;
    padding: 70px 0;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.col-12 {
    width: 100%;
}

.col-8 {
    width: calc((100% / 12) * 8);
}

.col-6 {
    width: 50%;
}

.col-4 {
    width: calc((100% / 12) * 4);
}

/* navbar */
nav.container-l {
    height: 80px;
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding-right: 20px;
}

.main-header__menu {
    display: flex;
    align-items: center;
}

.main-header__menu > li {
    padding: 10px 20px;
    font-size: 14px;
}

.main-header__menu .blue-btn {
    line-height: normal;
    margin-bottom: 0;
}

/* hero */
.hero {
    background-color: #B4D0E7;
    padding: 100px 0 20px 0;
}

.hero__title {
    margin-bottom: 70px;
}

.hero__content {
    display: flex;
    gap: 10px;
}

.content__text {
    min-width: calc(100% /3);
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
}

.content__text-up > :first-child {
    margin-bottom: 35px;
}

.content__text-up .blue-btn {
    display: inline-block;
    padding: 0 16px;
}

.content__text-down {
    font-size: 46px;
    font-weight: 700;
}

/* plan */
/* .plan .row, .features .row{
    margin: 26px 0;
    margin-bottom: 52px;
} */
.invoice {
    padding:0 0 52px 26px;
}
.invoice > * {
padding-right: 45px;
}

.card {
    padding: 0 26px;
    font-size: 14px;
}

/* .paddingRzero {
    padding-right: 0;
}

.paddingLzero {
    padding-left: 0;
} */

.card__header {
    border: #b2b2b2 solid;
    border-width: 1px 1px 0 1px;
    text-align: center;
    line-height: 40px;
}

.card i {
    margin-right: 5px;
}

.card__body {
    border: #b2b2b2 1px solid;
    padding: 40px 30px 50px 30px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.blue-link {
    color: #0061FF;
    text-decoration: underline;
}

.body__pricing,
.body__features,
.body__details,
.details__list,
.cta__text {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.fa-check{
    color: #0061FF;
}

.body__cta {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.body__cta > .blue-btn {
    padding: 0 26px;
}

/* partner */
.partner-container {
    padding-left: 26px;
}

.partner__text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 60px 0 0 50px;
    gap: 30px;
}


/* features */
.features .row {
    row-gap: 52px;
}
.features .col-4 {
    padding: 0 26px;
}

.features__title {
    padding: 10px 0 25px 0;
}

/* clients */
.clients .blue-link {
    padding: 0 0 52px 26px;
}

.clients [class^='col-6'] {
    aspect-ratio: 1/1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.clients img {
    max-width: 60%;
    filter: invert(100%);
}

.big-designit {
    aspect-ratio: 1/1;
    background-color: #F5F5F5;
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 35px;
}

.big-designit>img {
    filter: invert(0%);
    max-width: 50%;
}

.designit {
    background-color: #A2D39B;
    border: #D1E9CD solid 10px;
}

.asu {
    background-color: #61082B;
}

.uflorida {
    background-color: #0093CE;
}

.topps {
    background-color: #FF1C1C;
}

.bicycle {
    background-color: #D5001F;
}

.hearst {
    background-color: #B4D0E7;
}

.lonelyp {
    background-color: #0D2481;
}

.clearc {
    background-color: #FFD830;
}

.business {
    background-color: #B4D0E7;
}

.business [class^='col-'] {
    padding: 0 30px;
}

.hl-business {
    color: #61082B;
    font-size: 38px;
    font-weight: 700;
    line-height: 1.5em;
    margin-left: 26px;
}

.btn-business {
    color: black;
    background-color: white;
    line-height: 40px;
    text-align: center;
    font-size: 14px;
    white-space: nowrap;
    padding: 0 50px;
    display: inline-block;    
}

/* DEBUG */

/* DEBUG__HERO */

/* .debug .hero, .debug .container-m {
    border-style: solid;
    border-color: red;
    padding: 10px;
    margin: 0 auto;
}
.debug .hero__title, .debug .hero__content {
    border-style: solid;
    border-color: coral;
    padding: 10px;
}
.debug .content__text, .debug .content__image {
    border-style: solid;
    border-color: blue;
    padding: 10px;
}
.debug .content__text > *, .debug .content__image > * {
    border-style: solid;
    border-color: white;
    padding: 10px;
} */
