* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Lato', sans-serif;
}

a {
    text-decoration: none;
    color: currentColor;
}

ul,
ol,
menu {
    list-style: none;
}

img {
    display: block;
    height: 100%;
}

.blue-btn {
    color: white;
    font-size: 14px;
    background-color: #0061FF;
    line-height: 40px;
    margin-bottom: 36px;
}

/* containers */
.container-large {
    width: 100vw;
}

.container-mid {
    width: 1200px;
    margin: 0 auto;
}

.container-sm {
    width: 1000px;
    margin: 0 auto;
}

/* navbar */
nav.container-large {
    height: 80px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-header__menu {
    display: flex;
    align-items: center;
}

.main-header__menu > li {
    padding: 10px 20px;
    font-size: 14px;
}

.main-header__menu .blue-btn {
    line-height: normal;
    margin-bottom: 0;
}

/* hero */
.hero {
    background-color: #B4D0E7;
}





/* DEBUG */
*{
    border-style: solid;
}